.headerNosotros {
    text-align: center;
    align-items: center;
    }
    
    
    .mainNosotros {
    text-align: center;
    align-items: center;
    color:$vrd;
     }

.nosP {
font-size: 20px;
}