.tituloH3  {
    font-weight: $fontH3;
    font-size: 40px;
    color:$vrd;
}

.titulo  {
    font-weight:  $fontH3;
    font-size: 50px;
    color:$vrd;
}

p{
 display: inline;
 }
    
h6{
font-weight: $fontH3;
font-size: 40px;
}

title{
display: none;
}